services:
  backend:
    build: ./backend
    container_name: task_manager_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development

  frontend:
    build: ./front-end
    container_name: task_manager_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./front-end:/app
      - frontend_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development

volumes:
  backend_node_modules:
  frontend_node_modules:
